@import "fonts";

// colors
$white: #FFFFFF;
$green: #04AFA9;
$green-light: #9CD3D3;
$grey: #B6B4B3;
$grey-light: #DAD9D9;
$grey-darker: #868281;
$grey-dark: #1C1D1A;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1920px
);

html,
body,
.wrapper {
  overflow-x: hidden;
}

// styles
.logo {
  width: 196px;
}

.title img {
  height: 55px;
}

.f-hairline {
  font-family: "Montserrat Hairline";
}

.f-ult-light {
  font-family: "Montserrat Ultra";
}

.f-light {
  font-family: "Montserrat Light";
}

.f-regular {
  font-family: "Montserrat";
}

.f-bold {
  font-family: "Montserrat Bold";
}

.f-semi-bold {
  font-family: "Montserrat Semi";
}

.text-green {
  color: $green;
}

.text-green-light {
  color: $green-light;
}

.text-grey {
  color: $grey;
}

.text-gray-darker {
  color: $grey-darker;
}

.text-gray-dark {
  color: $grey-dark;
}

.xsmall {
  font-size: 0.563rem;
}

.disclaimer {
  color: $grey-darker;
  font-size: 0.375rem;
}

.image {
  margin-top: 12px;
}

a {
  color: $green-light;

  &:hover {
    color: $green;
  }
}

.btn-link {
  &, &:hover, &:focus {
    text-decoration: none;
  }
}

.info-sections {
  list-style: none;

  .collapse-button {
    position: relative;

    .separator {
      opacity: 0;
      position: absolute;
      bottom: 0;
      left: -34px;
      border-bottom: 1px solid $grey-light;
      width: 100vw;
    }

    .arrow {
      color: $white;
      width: 12px;
      height: 12px;

      &.up,
      &.down {
        border-bottom: 2px solid;
        border-left: 2px solid;
      }

      &.up {
        display: inline-block;
        vertical-align: sub;
        transform: rotate(135deg);
      }

      &.down {
        display: none;
        transform: rotate(-45deg);
      }
    }

    &.collapsed {
      color: $green-light;

      .separator {
        transition: all .5s ease-in-out;
        opacity: 1;
      }

      .bubble {
        background-color: $green-light;
      }

      .btn-text {
        color: $green-light;
      }

      .arrow {
        &.down {
          display: inline-block;
        }
        &.up {
          display: none;
        }
      }
    }

    .btn-text {
      color: $green;
    }

    .bubble {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: $green;
    }
  }
}

.facts-list {
  list-style: none;
  color: $green;

  li > span:first-child::before {
    content: "\2219";
    font-size: 1.8em;
    line-height: 0;
    position: relative;
    top: 2px;
    padding-right: 4px;
    color: $green;
  }
}

.nav-tabs {
  position: relative;
  transition: all .2s ease;

  .underbar{
    position: absolute;
    bottom: -4px;
    width: 0;
    height: 2px;
    background: $green;
    transition: 0.5s ease;
  }

  .nav-item.show .nav-link,
  .nav-link {
    color: $green-light;
    border: 0;

    &:hover,
    &.active {
      color: $green;
    }
  }

  li {
    transition: 0.5s ease;

    &:nth-of-type(1) {
      &.active {
        ~ .underbar {
          left: 0;
          width: 105px;
        }
      }
    }

    &:nth-of-type(2) {
      &.active {
        ~ .underbar {
          left: 138px;
          width: 85px;
        }
      }
    }

    &:nth-of-type(3) {
      &.active {
        ~ .underbar {
          left: 255px;
          width: 98px;
        }
      }
    }

    @include media-breakpoint-up(xl) {
      &:nth-of-type(1) {
        &.active {
          ~ .underbar {
            width: 135px;
          }
        }
      }

      &:nth-of-type(2) {
        &.active {
          ~ .underbar {
            left: 169px;
            width: 105px;
          }
        }
      }

      &:nth-of-type(3) {
        &.active {
          ~ .underbar {
            left: 310px;
            width: 125px;
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(md) {
  body {
    height: 100vh;
    font-size: 18px;
  }

  .contact-email {
    font-size: 0.7em;
  }

  .disclaimer {
    color: $grey;
    font-size: 0.5rem;
  }

  .logo {
    width: 300px;
  }

  .title img {
    height: 105px;
  }

  .h2 {
    font-size: 3.875rem;
    line-height: 1.1;
  }

  .wrapper {
    min-height: 100%;
    background: url("/images/image_land.png") no-repeat bottom right;
    background-size: 57vw;
  }

  .header {
    height: 60px;
  }

  .content {
    flex-grow: 1;
  }

  .medium {
    font-size: 0.875rem;
  }
}

@include media-breakpoint-up(xl) {
  body {
    font-size: 24px;
  }

  .h2 {
    font-size: 6.875rem;
  }

  .header {
    height: 52px;
  }

  .title img {
    height: 190px;
  }

  .medium {
    font-size: 1.188rem;
    line-height: 1.6;
  }

  .xsmall {
    font-size: 1rem;
  }

  .disclaimer {
    font-size: 0.875rem;
  }
}
